<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Todo App{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
</head>
<body> 
    <Header>
        <div class="container">
            <h1>My todo App</h1>
            <nav>
                <a href="{{ url_for('task.view_tasks') }}">Home</a>
                {{ if 'user' in session }}
                <a href="{{url_for('auth.login')}}">Logout</a>
                {{ else }} 
                <a href="{{url_for('auth.login')}}">Login</a>
                {{% endif %}}
            </nav>
        </div>
    </Header>


    <main>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {{for category, message in messages}}
                <div class="flash-{{ category }}"> {{ message }}</div>
                {{% endfor %}}
                {{% endwith %}}

            {% block content %}
            {% endblock %}
</body>
</html>